apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: vault

resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - init-job.yaml

commonLabels:
  app.kubernetes.io/part-of: accounting-system
  app.kubernetes.io/managed-by: argocd
