apiVersion: v1
kind: Service
metadata:
  name: postgresql
  labels:
    app: postgresql
  annotations:
    argocd.argoproj.io/sync-wave: "6"
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgresql
  selector:
    app: postgresql
